<div class="w-screen h-screen flex justify-center">
    <div class="h-full w-[30%] bg-black flex items-center px-5">
        <h1 class="absolute top-10 text-white font-bold tracking-wider text-lg">MuhZaan</h1>
        <div class="text-white">
            <h1 class="text-lg font-light">Hello, I am</h1>
            <h1 class="text-5xl tracking-tight my-5 font-bold">Muhammad Zainuddin Basyar</h1>
            <p class="text-2xl font-normal">A Freelance <span class="font-playfair text-3xl">&</span><br> Frontend Developer</p>
            <button class="border border-white mt-5 px-10 py-3 hover:bg-white hover:text-black duration-200 uppercase">Hire Me</button>
        </div>
    </div>
    <div class="w-[65%] h-full">
        <div class="h-[70%] w-full bg-cover" style="background-image: url('../../assets/background.jpg');">

        </div>
        <div class="w-full h-[30%] bg-teal-500">
            <h1>Hallo</h1>            
        </div>
    </div>
    <div class="w-[5%] bg-black text-white">
        <app-navbar></app-navbar>
    </div>
</div>